<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
</head>
<body>
<h4>People</h4>

<th:block th:if="${people.size > 0}">
    <table>
        <tr th:each="p : ${people}">
            <a th:href="@{/people/{id}(id=${p.id})}">
                [[${p.name}]], [[${p.surName}]], [[${p.year}]]</a>
            <br>
        </tr>
    </table>
    <br>
</th:block>

<th:block th:if="${people.size == 0}">
    <p>There are no people yet</p>
</th:block>

<input type="button" value="Add"
       onclick="window.location.href='people/new'"/>
<br>
<br>
<a href="/library">back to main</a>
</body>
</html>